.about-page .main {

  .heading {
    margin-top: rem(95);
  }

  .hero {
    background: $pale-color;
    @include media($tablet) {
      background: transparent;
    }
  }

  .portrait {
    display: block;
  }

  .content-wrapper {
    padding-bottom: rem(145);
  }

  .award {
    width: rem(296);

    // Move the awards to the left a bit so it looks better and appears centered with title
    margin-left: rem(-8);
    margin-top: rem(50);
    display: block;

    @include media($tablet) {
      float: left;
      margin-right: 2em;
    }
  }

  .lets-connect {
    margin-top: rem(115);
  }

  //--Removing because there's already lots of ways to contact
  // .phone, .email {
  //   margin-bottom: rem(18);
  // }

  // @include social-buttons($size: rem(28), $file-prefix: "2x_About_");

  // .social-buttons {
  //   margin-top: rem(25);
  // }
  // .social-button {
  //   margin-right: rem(18);
  //   &:last-child {
  //     margin-right: 0;
  //   }
  // }

  .philosophy {
    background: $brand-color;
    img {
      width: 100%;
      padding: 20%;
    }
  }

  .quote {
    color: $dark-color;
    background: $pale-color;
    padding: rem(200) 15%;
    text-align: center;
  }

  .call-to-action {
    padding: rem(250) 15%;
    text-align: center;
  }



  .hero {
    padding: 0 $page-padding;
    @include outer-container(100%);
    .portrait {
      @include span-columns(7);
      @include media($tablet) {
        @include span-columns(4);
      }
    }
  }

  .content-wrapper {
    padding-left: $page-padding;
    padding-right: $page-padding;
    @include outer-container(100%);
    .main-content {
      @include span-columns(7);
    }
    .sidebar {
      @include span-columns(4);
      @include shift(1);
    }
    @include media($tablet) {
      .main-content {
        @include span-columns(4);
      }
      .sidebar {
        @include span-columns(4);
        @include shift(0);
      }
    }
  }

  .philosophy .card {
    position: relative;
    .description {
      transition: opacity 0.5s ease;
      opacity: 0;

      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #fff;
      margin: 0;
      padding: 11%;
      text-align: center;
    }
    &:hover .description {
      opacity: 1;
    }
    p {
      font-size: 1.3vw;
      @include media($tablet) { font-size: 4vw; }
      margin: 0;
      margin-top: 50%;
      transform: translateY(-50%);
      cursor: default;
    }
  }

  .philosophy {
    @include outer-container(100%);
    .card {
      width: 33.33vw;
      float: left;
      @include media($tablet) {
        width: 100%;
      }
      // @include span-columns(4);
    }
  }

}
