.footer, .contact-page {
  color: white;
  background: $brand-color;

  .if-work-well {
    font-family: $quicksand;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
  }

  .lets-connect {
    width: 495px;
  }

  .contact-info {
    font-size: 26px;
    font-family: $quicksand;
    font-weight: bold;
    p {
      margin: 7px 0;
    }
    .phone, .email {
      width: 23px;
      margin-right: 17px;
      vertical-align: middle;
    }
  }

  .copyright {
    color: $brand-dark-color;
    font-size: 16px;
  }
}

.contact-page {
  background: rgba($brand-color, 0.9);
  transition: transform 0.5s ease;
  &.hide {
    visibility: visible;
    transform: translateY(100%);
  }

  .if-work-well {
    margin-left: -3px; // Align the "R" to the "L"
  }

  .lets-connect {
    margin-bottom: 130px;
  }

  .contact-info {
    margin-bottom: 40px;
  }

  @include social-buttons($size: 28px, $file-prefix: "2x_Contact_");
  @include resize-wide-share-button(28px);
  .social-buttons {
    border-top: 1px solid white;
    padding-top: 38px;
  }
  .social-button {
    margin-right: 23px;
  }

  .copyright {
    position: absolute;
    bottom: 40px;
  }

  height: 100%;
  width: 100%;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.footer {
  padding: 0 $page-padding;

  .lets-connect-container, .contact-info {
    padding: 75px 0;
  }

  .if-work-well {
    margin-left: -7px; // Align the "T" to the "L"
  }

  .footer-bottom-section {
    padding: 40px 0;
    border-top: 1px solid white;
  }

  $social-button-size: 28px;
  @include social-buttons($size: $social-button-size, $file-prefix: "2x_Footer_");
  @include resize-wide-share-button($social-button-size);
  .social-button {
    margin-right: 20px;
  }

  .copyright {
    line-height: $social-button-size;
  }

  .footer-bottom-section, .footer-top-section {
    @include outer-container;
    .lets-connect-container, .copyright {
      @include span-columns(7);
    }
    .contact-info, .social-buttons {
      @include span-columns(5);
    }
    $mobile: new-breakpoint(max-width 1200px 4);
    @include media($mobile) {
      .lets-connect-container, .copyright {
        @include span-columns(4);
      }
      .contact-info, .social-buttons {
        @include span-columns(4);
      }
    }
  }


}

