.footer, .contact-page {
  color: white;
  background: $brand-color;

  .if-work-well {
    font-family: $quicksand;
    font-weight: bold;
    font-size: em(32);
    margin-bottom: em(15);
  }

  .lets-connect {
    width: em(495);
  }

  .copyright {
    color: $brand-dark-color;
    font-size: em(16);
  }
}

.contact-page {
  background: rgba($brand-color, 0.9);
  transition: all 0.5s ease;
  &.hide {
    transform: translateY(100%);
  }

  .if-work-well {
    margin-left: em(-2); // Align the "R" to the "L"
  }

  .lets-connect {
    margin-bottom: em(130);
  }

  .contact-info {
    margin-bottom: em(40);
    @include contact-info("", em(24));
    .phone, .email {
      line-height: 1.7;
      margin: em(7) 0;
      font-size: em(26);
    }
  }

  @include social-buttons(em(28));
  @include resize-wide-share-button(em(28));
  .social-buttons {
    border-top: 1px solid white;
    padding-top: em(38);
  }
  .social-button {
    margin-right: em(23);
  }

  .copyright {
    position: absolute;
    bottom: em(40);
  }

  height: 100%;
  width: 100%;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.footer {
  padding: 0 $page-padding;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-info {
    padding: em(30) 0 em(16);
    @include contact-info("", em(14));
    .phone, .email {
      padding: em(4) 0;
      font-size: em(20);
      display: inline-block;
      &:before {
        margin-right: em(7);
        transform: translateY(-7%);
        @include media($small) {
          display: none;
        }
      }
    }
    .phone:before {
      background-size: 80% !important;
      transform: translateY(-7%);
    }
    .email:before {
      transform: translateY(-9%);
    }
    .phone {
      margin-right: em(20);
    }
  }

  .social-buttons {
    padding: em(14);
    border: 1px solid white;
    border-left: none;
    border-right: none;
  }
  $social-button-size: em(24);
  @include social-buttons($social-button-size);
  @include resize-wide-share-button($social-button-size);
  .social-button {
    margin-right: em(20);
    &:last-child {
      margin-right: 0;
    }
  }

  .copyright {
    padding: em(30) 0 em(60);
    font-size: em(13);
    line-height: $small-line-height;
  }

  .footer-bottom-section, .footer-top-section {
    margin-left: $page-padding;
    margin-right: $page-padding;
    @include outer-container(100%);
  }


}

