.footer, .contact-page {
  color: white;
  background: $brand-color;

  .if-work-well {
    font-family: $quicksand;
    font-weight: bold;
    font-size: rem(32);
    margin-bottom: rem(20);
  }

  .lets-connect {
    width: rem(495);
  }

  .contact-info {
    font-size: rem(26);
    font-family: $quicksand;
    font-weight: bold;
    .phone, .email {
      line-height: 1.7;
      margin: rem(7) 0;
    }
    .phone-icon, .email-icon {
      width: rem(23);
      margin-right: rem(17);
      vertical-align: middle;
    }
    a.email {
      color: white;
      @include hover-effect;
    }
  }

  .copyright {
    color: $brand-dark-color;
    font-size: rem(16);
  }
}

.contact-page {
  background: rgba($brand-color, 0.9);
  transition: all 0.5s ease;
  &.hide {
    transform: translateY(100%);
  }

  .if-work-well {
    margin-left: rem(-3); // Align the "R" to the "L"
  }

  .lets-connect {
    margin-bottom: rem(130);
  }

  .contact-info {
    margin-bottom: rem(40);
  }

  @include social-buttons($size: rem(28), $file-prefix: "2x_Contact_");
  @include resize-wide-share-button(rem(28));
  .social-buttons {
    border-top: 1px solid white;
    padding-top: rem(38);
  }
  .social-button {
    margin-right: rem(23);
  }

  .copyright {
    position: absolute;
    bottom: rem(40);
  }

  height: 100%;
  width: 100%;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.footer {
  padding: 0 $page-padding;

  .lets-connect-container, .contact-info {
    padding: rem(75) 0;
  }

  .if-work-well {
    margin-left: rem(-7); // Align the "T" to the "L"
  }

  .footer-bottom-section {
    padding: rem(40) 0;
    border-top: 1px solid white;
  }

  $social-button-size: rem(28);
  @include social-buttons($size: $social-button-size, $file-prefix: "2x_Footer_");
  @include resize-wide-share-button($social-button-size);
  .social-button {
    margin-right: rem(20);
  }

  .copyright {
    line-height: $social-button-size;
  }

  .footer-bottom-section, .footer-top-section {
    margin-left: $page-padding;
    margin-right: $page-padding;
    @include outer-container(100%);
    .lets-connect-container, .copyright {
      @include span-columns(7);
    }
    .contact-info, .social-buttons {
      @include span-columns(5);
    }
    $mobile: new-breakpoint(max-width rem(1200) 4);
    @include media($mobile) {
      .lets-connect-container, .copyright {
        @include span-columns(4);
      }
      .contact-info, .social-buttons {
        @include span-columns(4);
      }
    }
  }


}

