// Bourbon settings
$em-base: 21.3px;

// Custom settings
$brand-color: #32c9c2;
$brand-dark-color: #2e7c7d;
$dark-color: #999;
$medium-color: #ccc;
$light-color: #d0d2d3;
$pale-color: #f2f2f2;
$page-padding: 10%;
$small-line-height: 1.25; // use for headings and ui text
$content-line-height: 1.7; // use for paragraphs and content

$quicksand: 'Quicksand', sans-serif;
$open-sans: 'Open Sans', Helvetica, sans-serif;

* { box-sizing: border-box; }

@mixin contained-image($prefix, $width, $height) {
  width: $width;
  height: $height;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/images/icons/#{$prefix}.png);
}

@mixin hover-image($prefix, $width, $height) {
  @include contained-image($prefix, $width, $height);
  &:hover {
    background-image: url(/images/icons/#{$prefix}_Active.png);
  }
}

@mixin hover-effect {
  transition: opacity 0.1s ease;
  &:hover {
    opacity: 0.7;
  }
}

@function capitalize($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

$social: linkedin, behance, dribbble, instagram, pinterest, facebook, share;

@mixin social-button($name, $size, $file-prefix) {
  $capitalized-name: capitalize($name);
  .#{$name}.social-button {
    @include contained-image(
      $prefix: "#{$file-prefix}#{$capitalized-name}",
      $width: $size,
      $height: $size);
    @include hover-effect;
  }
}

@mixin resize-wide-share-button($size) {
  .share.social-button {
    $orig-width: rem(178);
    $orig-height: rem(56);
    $height: $size;
    height: $height;
    // calculate width by scaling original width down proportionally
    width: $height * ($orig-width / $orig-height);
  }
}
@mixin social-buttons($size, $file-prefix) {
  @each $item in $social {
    @include social-button($item, $size, $file-prefix);
  }
}

@mixin cover {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}


.social-button {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}





body {
  font-family: $open-sans;
  font-size: rem(28);
  font-weight: 200;
  color: $light-color;
  // width: rem(1366);
  // background: white;
  // position: relative;
}
// html {
//   background: black;
// }

// Use this in JS to prevent scrolling
body.no-scroll
{
  height: 100%;
  overflow: hidden;
}

a {
  color: $brand-color;
  text-decoration: none;
  &:hover {
    color: $brand-dark-color;
  }
}

h1, h2, h3, h4, h5, h6 {
 font-weight: bold;
}

.hide {
  visibility: hidden;
}


.to-top-button {
  @include contained-image("2x_Top_Button", rem(53), rem(53));
  @include hover-effect;

  position: fixed;
  right: rem(40);
  bottom: rem(40);

  opacity: 1;
  transition: opacity .5s ease;
  &.hide {
    opacity: 0;
  }
}



.heading {
  line-height: $small-line-height;
  font-weight: bold;
  font-size: rem(38);
  text-transform: uppercase;
  font-family: $quicksand;
  color: $brand-color;
  margin-bottom: rem(32);
}

p {
  line-height: $content-line-height;
  margin: rem(32) 0;
}
