* { box-sizing: border-box; }


$brand-color: #32c9c2;
$brand-dark-color: #2e7c7d;
$medium-color: #ccc;
$light-color: #d0d2d3;
$page-padding: 95px;

$quicksand: 'Quicksand', sans-serif;
$open-sans: 'Open Sans', Helvetica, sans-serif;





@function capitalize($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

$social: linkedin, behance, dribbble, instagram, pinterest, facebook, share;

@mixin resize-wide-share-button($size) {
  .share.social-button {
    $orig-width: 178px;
    $orig-height: 56px;
    $height: $size;
    height: $height;
    // calculate width by scaling original width down proportionally
    width: $height * ($orig-width / $orig-height);
  }
}
@mixin social-buttons($size, $file-prefix) {
  @each $item in $social {
    $name: capitalize($item);
    .#{$item}.social-button {
      height: $size;
      width: $size;
      background-image: url("/images/#{$file-prefix}#{$name}.png");
      &:hover {
        background-image: url("/images/#{$file-prefix}#{$name}_Active.png");
      }
    }
  }
}

.social-button {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}





body {
  font-family: $open-sans;
  font-size: 28px;
  font-weight: 200;
  color: $light-color;
  // width: 1366px;
  // background: white;
  // position: relative;
}
// html {
//   background: black;
// }

a {
  color: $brand-color;
  text-decoration: none;
  &:hover {
    color: $brand-dark-color;
  }
}

h1, h2, h3, h4, h5, h6 {
 font-weight: bold;
}

@mixin clearfix {
 *zoom:1;
 &:before, &:after { content: " "; display: table; }
 &:after { clear: both; }
}

.hide {
  visibility: hidden;
}


.top-button img {
  width: 53px;
  position: absolute;
  right: 40px;
  transform: translateY(-80px);
}



.heading {
  font-weight: bold;
  font-size: 38px;
  text-transform: uppercase;
  font-family: $quicksand;
  color: $brand-color;
  margin-bottom: 32px;
}

p {
  line-height: 1.7;
  margin: 32px 0;
}
