// ------
// Header
// ------

.header {
  padding: em(127) 0;
  text-align: center;
  ul {
    margin-top: em(9);
    color: $medium-color;

    font-family: $quicksand;
    font-weight: bold;
  }
  li {
    font-size: em(26);
    display: inline-block;
    &:before {
      font-size: em(15);
      content: "\2022"; // bullet icon
      padding: em(8);
      display: inline-block; // makes translate work
      transform: translateY(-3%);
    }
    &:first-child:before {
      content: ""; // bullet icon
      padding: 0;
    }
  }
  li:first-child {
    margin-left: 0;
  }
}

.logo {
  width: em(450);
}




// ---
// Nav
// ---

.nav {
  text-transform: lowercase;

  .menu-button {
    @include media($medium) {
      display: none;
    }
    @include media($small) {
      display: block;
    }
    position: absolute;
    // top: em(25);
    top: 50%; transform: translateY(-50%);
    right: em(30);
    @include contained-image("2x_Menu", em(35), em(35));
  }

  $padding: em(42);

  position: relative;
  top: 0;
  width: 100%;
  padding: $padding 0;
  background: white; // because this element will cover others

  a.small-logo {
    @include hover-image("2x_Small_Logo", em(344), em(27));
    display: block;
    margin-left: $padding;
  }

  ul {
    display: block;
    @include media($small) {
      display: none;
    }
    position: absolute;
    right: $padding;
    top: 50%;
     // We want 50% but it doesn't look centered that way
    transform: translateY(-56%);
  }
  li {
    list-style: none;
    display: inline;
    &:before {
      content: "\2022"; // bullet icon
      padding: em(8);
      display: inline-block; // makes translate work
      transform: translateY(5%);
    }
    &:first-child:before {
      content: ""; // bullet icon
    }
  }
  li a {
    font-size: em(24);
    text-decoration: none;
    font-family: $quicksand;
    font-weight: bold;
    color: $medium-color;
    &:hover {
      color: $brand-color;
    }
  }
  a.active {
    color: $dark-color;
  }
}


.slide-out-menu {
  transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
  &.hide {
    opacity: 0;
    transform: translateX(20%);
  }

  padding: em(58);
  position: fixed;
  // width: em(520);
  width: 100%;
  background: $brand-color;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;

  a.close-button {
    @include hover-image("2x_Menu_X", em(52), em(52));
    display: block;
    position: absolute;
    right: em(30);
    top: em(30);
  }

  a {
    color: white;
    font-family: $quicksand;
    font-weight: bold;
  }

  ul {
    border-bottom: 1px solid white;

  }

  li {
    margin-bottom: em(40);
  }
  .heading {
    margin-top: em(24);
    margin-bottom: em(10);
  }

  li a {
    font-size: em(28);
    text-transform: uppercase;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      transform: translateY(-4%);
      margin-right: em(23);
    }
  }

  $icon-size: em(28);
  .home-link:before {
    @include contained-image("2x_Menu_Portfolio", $icon-size, $icon-size);
  }
  .about-link:before {
    @include contained-image("2x_Menu_About", $icon-size, $icon-size);
  }
  .blog-link:before {
    @include contained-image("2x_Menu_Blog", $icon-size, $icon-size);
  }

  .phone, .email {
    color: white;
    font-family: $quicksand;
    font-weight: bold;
    padding: em(15) 0;
  }
  .phone:before, .email:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-4%);
    margin-right: em(35);
  }
  .phone:before {
    @include contained-image("2x_Menu_option_b_phone", $icon-size, $icon-size);

    // Overriding things
    background-size: 80% !important;

    // Resizing height proportionally to width
    $orig-width: em(48);
    $orig-height: em(74);
    $width: $icon-size;
    height: $width * ($orig-height / $orig-width);
  }
  .email:before {
    @include contained-image("2x_Menu_option_b_email", $icon-size, $icon-size);
  }

  .heading {
    font-size: em(28);
    color: $brand-medium-color;
  }
}
