.home-page .nav {
  position: fixed;
  display: none;
}

.home-page .main {

  .projects {
    @include outer-container(100%);
  }
  .project img {
    background: linear-gradient(to bottom right, $medium-color, white);
    height: 25vw;
    width: 25vw;
    float: left;
  }

  .section {
    text-align: center;
    margin: 200px auto;

    width: 60%;
  }

  .learn-more-button img {
    margin-top: 34px;
    height: 60px;
  }

}
