.home-page .nav {
  position: fixed;
  display: none;
}

.home-page .main {

  .projects-container {
    background: $pale-color;
  }

  $projects-max-width: 80vw;
  .projects {
    @include outer-container(100%);
    max-width: $projects-max-width;
    @include media($medium) {
      max-width: none;
    }
  }

  a.project {
    color: $dark-color;
  }

  .project {
    position: relative;
    display: block;
    float: left;

    img {
      display: block;

      height: 25vw;
      width: 25vw;
      @include media($small) {
        height: 50vw;
        width: 50vw;
      }

      $projects-per-row: 4;
      max-width: $projects-max-width / $projects-per-row;
      max-height: $projects-max-width / $projects-per-row;
      @include media($medium) {
        max-width: none;
        max-height: none;
      }
    }

    .active {
      @include cover;
      line-height: $small-line-height;
      padding: 10%;
      text-align: center;
      background: rgba(white, 0.95);
      display: flex;
      flex-direction: column;
      justify-content: center;

      opacity: 0;
      transition: opacity 0.2s ease;
    }
    &:hover .active {
      opacity: 1;
    }

    .title {
      text-transform: uppercase;
      font-size: em(18);
      font-family: $quicksand;
      font-weight: bold;
    }

    .type {
      margin-top: em(20);
      font-size: em(14);
      position: relative;
    }
  }


  .section {
    text-align: center;
    margin: em(200) 15%;
  }

  a.learn-more-button {
    margin-top: em(34);
    display: inline-block;
    @include hover-image("learn-more-button", em(292), em(60));
  }

}
