.home-page .nav {
  position: fixed;
  display: none;
}

.home-page .main {

  .projects {
    @include outer-container(100%);
  }

  a.project {
    color: $dark-color;
  }

  .project {
    position: relative;
    display: block;
    float: left;

    .active {
      @include cover;
      line-height: 1.25;
      padding: 10%;
      text-align: center;
      background: rgba(white, 0.9);
      display: flex;
      flex-direction: column;
      justify-content: center;

      opacity: 0;
      // transition: opacity 0.1s ease;
    }
    &:hover .active {
      opacity: 1;
    }

    .title {
      font-size: rem(18);
      font-family: $quicksand;
      font-weight: bold;
    }

    .type {
      margin-top: rem(20);
      font-size: rem(14);
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: rem(-10);
        background: $dark-color;
        left: 40%;
        right: 40%;
        height: 1px;
      }
    }

    img {
      background: linear-gradient(to bottom right, $medium-color, white);
      height: 25vw;
      width: 25vw;
      display: block;
    }
  }


  .section {
    text-align: center;
    margin: rem(200) auto;

    width: 60%;
  }

  .learn-more-button img {
    margin-top: rem(34);
    height: rem(60);
  }

}
