@import url("http://fonts.googleapis.com/css?family=Quicksand:400,700|Open+Sans");

@import "nanoscroller";
@import "reset";   // Reset all styles
@import "bourbon"; // Use this for its functions and addons
@import "neat";    // Grid framework

// Styles used throughout the site
@import "global"; // global styles, mixins, and settings that are used in imports shown below
@import "header-and-nav";
@import "footer-and-contact";

// Page-specific styles
@import "home";
@import "about";
@import "blog";
@import "projects";

// Layers
.to-top-button {
  z-index: 1000;
}
.contact-page {
  z-index: 2000;
}
.nav {
  z-index: 3000;
}
.nano-pane {
  z-index: 4000;
}
