.project-page {
  .hero {
    padding: 20%;
    color: white;
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-weight: bold;
    line-height: $small-line-height;
    @include outer-container(100%);
  }
  .title {
    font-size: rem(58);
  }
  .project-type {
    margin-top: rem(10);
    font-size: rem(32);
    font-family: $quicksand;
  }

  .project-content {
    @include outer-container(100%);

    .copy {
      padding: rem(175) $page-padding;
    }

    img {
      width: 100%;
      display: block;
    }
  }

  .project-nav {
    padding: rem(48);
    position: relative;
  }

  .previous-and-next {
    text-align: center;
  }
  .project-next, .project-previous {
    display: inline-block;
    margin: 0 rem(15);
  }
  .project-previous {
    @include hover-image("2x_Project_Previous", rem(56), rem(56));
  }
  .project-next {
    @include hover-image("2x_Project_Next", rem(56), rem(56));
  }

  @include social-button($name: "share", $size: rem(28), $file-prefix: "2x_Project_");
  @include resize-wide-share-button(rem(28));
  .social-button.share {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

}
