.project-page {
  .hero {
    padding: 20%;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-weight: bold;
    line-height: $small-line-height;
    @include outer-container(100%);
  }
  .title {
    font-size: em(58);
  }
  .project-type {
    margin-top: em(10);
    font-size: em(32);
    font-family: $quicksand;
  }

  .project-content {
    @include outer-container(100%);

    .copy {
      padding: em(175) $page-padding;
    }

    img {
      width: 100%;
      display: block;
    }
  }

  .project-nav {
    padding: em(48);
    position: relative;
  }

  .previous-and-next {
    text-align: center;
  }
  .project-next, .project-previous {
    display: inline-block;
    margin: 0 em(15);
    @include hover-effect;
  }
  .project-previous {
    @include contained-image("project-previous", em(56), em(56));
  }
  .project-next {
    @include contained-image("project-next", em(56), em(56));
  }

  @include social-button($name: "share", $size: em(28), $file-prefix: "project-");
  @include resize-wide-share-button(em(28));
  .social-button.share {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

}
