- var HOME_PAGE = 'home'
- var CURRENT_PAGE

mixin link(name)
  - var isActive = (name == CURRENT_PAGE) ? 'active' : ''
  - var url = (name == HOME_PAGE) ? '/' : '/'+name
  a(href=url, class=isActive+' '+name+'-link')
    block

mixin nav(name)
  - CURRENT_PAGE = name
  .nav
    a.small-logo(href='/')
    ul
      li: +link('home') portfolio
      li: +link('about') about
      li: +link('blog') blog
      li: +link('contact') contact
