include _nav

mixin page(name, title)
  doctype html
  html(lang='en')
    head

      if title
        title= title + ' - ' + CONFIG.title
      else
        title CONFIG.title

      include _meta

      //--Page styles
      link(rel='stylesheet', href='/styles/main.css')

    body
      .header
         .menu-button
         img.logo(src='/images/2x_Main_Logo.png')
         ul
           li ui/ux
           li print
           li branding
           li illustration
      +nav(name)
      div(class=name+'-page')
        block

      a.top-button: img(src='/images/2x_Top_Button.png')
      .footer
        .footer-top-section
          .lets-connect-container
            .if-work-well Think we'd work well together?
            img.lets-connect(src='/images/2x_Lets_Connect.png')
          .contact-info
            p
              img.phone(src='/images/2x_Phone.png')
              = CONFIG.phone
            p
              img.email(src='/images/2x_Email.png')
              = CONFIG.email
        .footer-bottom-section
          .legal Website designed by Angelica Design ©2015. All Rights Reserved.
          .social-icons
            each url, name in CONFIG.social
              a.social-button(class=name, href=url)

      // build:js /scripts/main.min.js
      script(src='/scripts/main.js')
      script(src='/scripts/main-helper.js')
      // endbuild
      //- include _analytics
