// Include AddThis API
// Go to www.addthis.com/dashboard to customize your tools
script(src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f4173a323665968' async)

// AddThis Config
// http://support.addthis.com/customer/portal/articles/1337994-the-addthis_config-variable
script.
  var addthis_config = {
    ui_click: true,
    ui_use_css: false
  };
