.contact-page.hide
  .content
    .if-work-well Ready to make things happen?
    img.lets-connect(src='/images/icons/2x_lets-connect.png')
    .contact-info
      .phone= CONFIG.phone
      a.email(href='mailto:'+CONFIG.email)!= CONFIG.emailHtml
    include social-buttons
    .copyright= CONFIG.copyright
