extends layout

//- block append vars
//-   - TITLE = CONFIG.projects[PROJ_INDEX].title
//-   - PROJ = CONFIG.projects[PROJ_INDEX].name
//-   - TYPE = CONFIG.projects[PROJ_INDEX].type

mixin project(num, type)
  +img('projects/'+PROJ+'/'+PROJ+'-'+num, type)&attributes(attributes)

block content
  .project-page(class=PROJ)
    //- old hero
    //- .hero(style={'background-image': 'url(/images/projects/#{PROJ}/#{PROJ}-1.jpg)'})
      //- h1.title= TITLE
      //- .project-type= TYPE
    +project(1)(class='hero-image')
    .project-content
      block project-content
    //- .project-nav
    //-   a.social-button.share(href=CONFIG.social.share)
    //-   .previous-and-next
    //-     a.project-previous(href='#')
    //-     a.project-next(href='#')
