.social-buttons
  each url, name in CONFIG.social
    a.social-button(class=name, href=url)
  // Go to www.addthis.com/dashboard to customize your tools
  a.social-button.share.addthis_button_compact(href='#')
    //- We need the span tag so addthis doesn't add it's own share image
    //- http://support.addthis.com/customer/portal/articles/381236-custom-buttons
    span
