extends _/layout

block vars
  - TITLE = 'About'
  - NAME = 'about'

block content
  .hero
    img.self-image(src='/images/icons/2x_Self_Image.png')
  .content-wrapper
    .main-content
      .heading Designing with integrity
      p I am a passionate designer who believes in the power of good design and good intentions. My intention is to  create compassionate, well-executed work that aims to communicate and be visually stimulating. I received my Bachelor of Science degree in Graphic Design from Sacramento State University and am currently living in Northern California. I specialize in UI/UX design, print, branding, and illustration. I love to learn new things, connect with new people, and enjoy the beauty of life.
      .heading Ready to make things happen?
      p Let me help make your vision a reality. I will work with you step by step to create work that is authentic and tailored to your needs. By working together we can create something that will make a difference in your business and that you will be proud of. I am currently available for freelance work. Please don’t hesitate to <a href="mailto:#{CONFIG.email}">email me</a>, or call me at (916) 549-0849. I can’t wait to hear from you. Until then, thank you for stopping by.
    .sidebar
      .heading Recognition
      img.award(src='/images/icons/2x_Award_A.png')
      img.award(src='/images/icons/2x_Award_B.png')
      //--Removing because there's already lots of ways to contact
      //- .heading.lets-connect Let's connect
      //- .phone= CONFIG.phone
      //- .email= CONFIG.email
      //- .social-buttons
      //-   each url, name in CONFIG.social
      //-     a.social-button(class=name, href=url)
  .philosophy
    img(src='/images/icons/2x_About_Logo_Growth.png')
    img(src='/images/icons/2x_About_Logo_Beauty.png')
    img(src='/images/icons/2x_About_Logo_Process.png')
  .quote
    p “Design, in its broadest sense, is the enabler of the digital era—it’s a process that creates order out of chaos, that renders technology usable to business. Design means being good, not just looking good.”
    .source Clement Mok
  p.call-to-action.
    LET’S CREATE BEAUTIFUL THINGS TOGETHER.
