include _/_page

+page('home', 'Home')
  .projects
    img.project(src='/images/2x_Main_Project_Image_A.png')
    img.project(src='/images/2x_Main_Project_Image_B.png')
    img.project(src='/images/2x_Main_Project_Image_C.png')
    img.project(src='/images/2x_Main_Project_Image_D.png')
    img.project(src='/images/2x_Main_Project_Image_E.png')
    img.project(src='/images/2x_Main_Project_Image_F.png')
    img.project(src='/images/2x_Main_Project_Image_G.png')
    img.project(src='/images/2x_Main_Project_Image_H.png')
    img.project(src='/images/2x_Main_Project_Image_I.png')
    img.project(src='/images/2x_Main_Project_Image_J.png')
    img.project(src='/images/2x_Main_Project_Image_K.png')
    img.project(src='/images/2x_Main_Project_Image_L.png')
    .clearfix
  .section
    .heading Designing with integrity
    p I am a passionate designer who believes in the power of good design and good intentions. My intention is to create compassionate, well-executed work that aims to communicate and be visually stimulating.
    a.learn-more-button(href='/about'): img(src='/images/2x_Learn_More_Button.png')
