extends _/layout

block vars
  - NAME = 'home'

block prepend header
  .header
    .menu-button-container
      a.menu-button(href='#')
    img.logo(src='/images/icons/2x_main-logo.png')

mixin project(index)
  - var proj = CONFIG.projects[index];
  a.project(href='/project/'+proj.name)
    img(src='/images/project-thumbnails/'+proj.name+'.jpg')
    .active
      .title!= proj.title
      .type= proj.type

block content
  .projects-container
    .projects

      +project(0)
      +project(1)
      //- +project(2)
      +project(3)
      +project(4)
      //- +project(5)
      +project(6)
      //- +project(7)
      //- +project(8)
      //- +project(9)
      +project(10)
      +project(11)
  .section
    .heading Designing with integrity
    p I am a passionate designer who believes in the power of good design and good intentions. My intention is to create compassionate, well-executed work that aims to communicate and be visually stimulating.
    a.learn-more-button(href='/about')
