extends _/layout

block vars
  - NAME = 'home'

block prepend header
  .header
    .menu-button-container
      a.menu-button(href='#')
    img.logo(src='/images/icons/2x_main-logo.png')

mixin project(name)
  a.project(href='/project/'+name)
    img(src='/images/project-thumbnails/'+name+'.jpg')
    .active
      block

block content
  .projects-container
    .projects
      +project('brave-and-bold')
        .title Brave &amp; Bold
        .type Product Line ∙ Branding ∙ Logo ∙ UI/UX
      +project('buyepongo')
        .title Buyepongo Posters
        .type Print ∙ Illustration
      //- +project('native-museum-icons')
      //-   .title Native Museum
      //-   .type Logos ∙ Branding ∙ UI/UX
      +project('ca-lighting-technology-center')
        .title CA Lighting Technology Center
        .type Logo ∙ Infographic ∙ Presentations ∙ Print
      +project('the-tibetan-method')
        .title The Tibetan Method
        .type Print ∙ Illustration
      //- +project('intertwine-magazine')
      //-   .title Intertwine Magazine
      //-   .type Print ∙ Infographic ∙ UI/UX
      +project('alice-in-wonderland')
        .title Alice In Wonderland
        .type Print ∙ Handlettering
      //- +project('get-involved-campaign')
      //-   .title Get Involved Campaign
      //-   .type Print ∙ App ∙ Video
      //- +project('shoki-ramon-house')
      //-   .title Shoki Ramon House
      //-   .type Logo ∙ Branding ∙ Print ∙ App
      //- +project('just-life-for-pre-teens')
      //-   .title Just Life For Pre Teens
      //-   .type UI/UX ∙ App
      +project('freelance-work')
        .title Freelance Work
        .type Print ∙ Logos ∙ Branding
      +project('volunteer-work')
        .title Volunteer Work
        .type Speaker Slide Shows ∙ Print
  .section
    .heading Designing with integrity
    p I am a passionate designer who believes in the power of good design and good intentions. My intention is to create compassionate, well-executed work that aims to communicate and be visually stimulating.
    a.learn-more-button(href='/about')
