extends _/layout

block vars
  - TITLE = 'Home'
  - NAME = 'home'

block prepend header
  .header
    .menu-button
    img.logo(src='/images/2x_Main_Logo.png')
    ul
      li ui/ux
      li print
      li branding
      li illustration

block content
  .projects
    a.project(href='/project/brave-and-bold'):                img(src='/images/2x_Brave_and_Bold.png')
    a.project(href='/project/buyepongo'):                     img(src='/images/2x_Buyepongo.png')
    a.project(href='/project/native-museum-icons'):           img(src='/images/2x_Native_Museum_Icons.png')
    a.project(href='/project/ca-lighting-technology-center'): img(src='/images/2x_CA_Lighting_Technology_Center.png')
    a.project(href='/project/the-tibetan-method'):            img(src='/images/2x_The_Tibetan_Method.png')
    a.project(href='/project/intertwine-magazine'):           img(src='/images/2x_Intertwine_Magazine.png')
    a.project(href='/project/alice-in-wonderland'):           img(src='/images/2x_Alice_in_Wonderland.png')
    a.project(href='/project/get-involved-campaign'):         img(src='/images/2x_Get_Involved_Campaign.png')
    a.project(href='/project/shoki-ramon-house'):             img(src='/images/2x_Shoki_Ramon_House.png')
    a.project(href='/project/just-life-for-pre-teens'):       img(src='/images/2x_Just_Life_for_Pre_Teens.png')
    a.project(href='/project/freelance-work'):                img(src='/images/2x_Freelance_Work.png')
    a.project(href='/project/volunteer-work'):                img(src='/images/2x_Volunteer_Work.png')
    .clearfix
  .section
    .heading Designing with integrity
    p I am a passionate designer who believes in the power of good design and good intentions. My intention is to create compassionate, well-executed work that aims to communicate and be visually stimulating.
    a.learn-more-button(href='/about'): img(src='/images/2x_Learn_More_Button.png')
